doctype html
html(lang="en")
  head
    title 아포카토 웹사이트
    link(rel="stylesheet", href="stylesheets/style.css")
  body
    div#current-time 접속한 시간 : #{currentTime}
    header
      nav
        ul
          li
            a(href="/") 홈
          li
            a(href="/origin") 아포카토의 기원
          li
            a(href="/recipe") 아포카토 레시피
          li
            a(href="/nickname") 아포카토 애칭
    main
      h1 환영합니다!
      p 이 웹사이트는 아포카토를 소개합니다.
