doctype html
html(lang="en")
  head
    title 아포카토 애칭
    script(src="javascripts/client.js") 
  body
    header
      h1 아포카토에 애칭 지어주기
    main
      img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Vinoteca%2C_Smithfield%2C_London_%284485849609%29.jpg/800px-Vinoteca%2C_Smithfield%2C_London_%284485849609%29.jpg", width="200" height="200")
      p#nickname 기본 애칭
      form(method="GET")
        input(type="text" placeholder="아포카토에 대한 애칭 입력")
        button(type="submit") 제출
        