doctype html
html(lang="en")
  head
    title 아포카토의 기원
  body
    header
      h1 아포카토의 기원
    main
      p 아포카토는 이탈리아에서 유래된 디저트로, 그 기원은 명확하지 않다고 한다 
      p 다만 에스프레소를 사용하는 만큼, 19세기에 에스프레소 머신이 발명되었으니 그때쯤이 아닐까 하는 추측을 할 뿐이다.
